* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
}

.left-form {
  width: 50%;
  height: 100%;
  overflow: hidden;
  float: left;
}

.right-form {
  width: 50%;
  height: 100%;
  margin: 0;
  float: left;
  background-color: white;
  display: flex;
  justify-content: center;
}

.right-form form {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-form h2 {
  font-size: 2em;
  color: red;
  margin: 20px 0;
  font-weight: bold;
}

.right-form form > input {
  width: 100%;
  padding: 10px 0;
  font-size: 1.2em;
}

.right-form label {
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  margin: 20px 0;
}

.check {
  width: 100%;
  margin: 20px 0;
}

.right-form input[type="submit"] {
  width: 100%;
  background-color: red;
  color: white;
  border: none;
  font-size: 18px;
  padding: 8px 30px;
}

@media (max-width: 768px) {
  .left-form {
    display: none;
  }

  .right-form {
    width: 100%;
  }

  .right-form form {
    width: 95%;
    padding: 0 1em;
  }
}
